*{
    margin: 0;
    padding: 0;
}
#container{
    background-color: aqua;
    width: 50%;
    height: 300px;
    border-radius: 0,8em;
    padding: 50px;
}

form{
    display: flex;
    flex-direction: column;
}
input{
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 0,8em;
    border: none;
}

button{
    background-color: azure;
    width: 100%;
    padding: 10px;
    border: none;
    margin-top: 10px;
    color: black;
}