#topo{
    background-color: aliceblue;
    height: 100px;
}
#menu{
    background-color: aqua;
 
}
#conteudo{
    height: 200px;
    background-color: palevioletred;
}

#rodape{
    background-color: aliceblue;
    height: 100px;
}
.content{
    background-color:blueviolet;
}